.real{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.fondsize{font-size: 30px;

}
.asd{font-style: italic;

}
.qwe{font-weight: 700;}
.color{color: red;

}
.texy{
    text-shadow: 1px 100px 1px green;
    font-size: 20px;
}
.decor{text-decoration: underline;decor}